node_modules/
logs/
coverage/
.vscode/
.env
.idea
package-lock.json
tmp
yarn.lock
yarn-error.log
.eslintcache
.DS_Store
apidoc
translations.csv
storybook-static

src/styles/main.css
src/styles/tailwind-variables.sass
